/* Entier Chat Input Container including input textbox and send btn */

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}

/* Input Text Box */

.chat-input {
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

/* send button */

.send-btn {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 15px;
  margin-left: 12px;
  cursor: pointer;
}
